@import "global/variables.scss";

.drawer {
  height: 100vh;
  width: 0;
  margin: 0;
  padding: 0;
  transition: 0.3s width;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $brown;
  position: absolute;
  right: 0;

  .nav-item:first-child {
    margin-top: 50px;
  }

  .nav-item {
    display: none;
    margin-bottom: 30px;
  }
}

.drawer-open {
  width: 51%;
  height: 100vh;

  .nav-item {
    display: initial;
  }
}

.drawer-content {
  position: absolute;
  right: 50%;
  height: 100vh;
  overflow: hidden;
}

.drawer-body {
  display: flex;
  flex-direction: row-reverse;
}
