@import "global/variables.scss";

header {
  padding: 22px 36px 60.5px;

  h1 {
    margin: 0;
    font: Bold 32px/39px Montserrat;
    color: $grey;

    span {
      color: $red;
    }
  }

  p {
    margin: 20px 0 0 0;
    font: Italic 26px/33px Source Sans Pro;
    font-weight: 300;
    color: $grey;

    span {
      font-weight: 600;
    }
  }

  @media (min-width: 768px) {
    padding: 0 80px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 316px;
      text-align: center;
      font: Bold 40px/49px Montserrat;
    }

    p {
      text-align: center;
      font-size: 26px;
    }

    @media (min-width: 1200px) {
      padding: 180px 0;
      width: 1140px;
      align-self: center;
      align-items: flex-start;

      h1 {
        width: 100%;
        text-align: left;
      }

      p {
        margin: 5px 0 0;
        text-align: left;
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}
