nav {
  margin: 0 36px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .toggler {
    align-self: flex-end;
    border: 0;
    outline: 0;
    background: 0;
  }
}
