@import "global/variables.scss";

nav {
  margin: 0 36px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    display: none;
  }

  ul {
    display: none;
    margin: 0;
    padding: 0;
  }

  .toggler {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0;
    cursor: pointer;

    > span {
      width: 23px;
      height: 4px;
      border-radius: 5px;
      background: $brown;
      margin-bottom: 4px;
    }

    .open {
      transition: all 0.3s;
    }

    span:last-child {
      margin: 0;
    }

    .bar.open:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      margin: 0;
    }

    .bar.open:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .bar.open:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      margin: 0;
    }

    .bar:nth-of-type(1) {
      transform: rotate(0);
      margin-bottom: 4px;
    }

    .bar:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .bar:nth-of-type(3) {
      transform: rotate(0);
    }
  }

  @media (min-width: 768px) {
    margin: 55px 0 100px;
    height: 0;

    .toggler {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
    }

    .nav-item {
      margin-right: 30px;

      a {
        color: $brown;
      }
    }

    .nav-item:last-child {
      margin: 0;
    }
  }

  @media (min-width: 1200px) {
    margin: 45px 0 0;
    height: initial;
    width: 1140px;
    align-self: center;
    flex-direction: row;
    align-items: center;

    .nav-item {
      margin-right: 66px;
    }

    .logo {
      display: initial;
      margin: 0;
    }

    ul {
      margin-left: auto;
    }
  }
}

.nav-item {
  list-style-type: none;

  a {
    font: Bold 24px/29px Montserrat;
    color: $background;
    text-decoration: none;
  }

  a:hover {
    color: $red;
  }
}
