@import "global/variables.scss";

.skills {
  background: $brown;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  p {
    color: $background;
    font: 26px/33px Source Sans Pro;
  }

  img {
    margin-top: 60px;
    height: 100%;
    width: 214px;
    align-self: center;
  }
}
